[submodule "benchmarks/lib/c"]
	path = benchmarks/lib/c
	url = https://github.com/WizardMac/ReadStat.git

[submodule "benchmarks/lib/csharp"]
	path = benchmarks/lib/csharp
	url = https://github.com/richokelly/sas7bdat.git

[submodule "benchmarks/lib/cpp"]
	path = benchmarks/lib/cpp
	url = https://github.com/olivia76/cpp-sas7bdat.git
